body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#cardxzseleckt{
  border-radius: 10px;
  box-shadow: 5px 5px 10px -4px;
  height: 30px;
  width: 50px;
  text-align: center;
  margin-top: 5px;
}
#cardxzseleckt2{
  border-radius: 10px;
  box-shadow: 5px 5px 10px -4px;
  height: 30px;
  width: 50px;
  text-align: center;
  margin-top: 5px;
}


